
/***********************************************************************
Autor:	Luis Chavarria Bendezu								
Style:	Libreria de Estilos para las Controles Ajax	
************************************************************************/

/*Seccion para estilos del MessageBox..*/
/*Message Box*/
.info, .success, .warning, .error, .validation , .confirm{
    border: 1px solid;
    margin: 10px 0px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.confirm
{
    color: #4F8A10;
    background-color: #FEEFB3;
    background-image: url('../Imagenes/Icons/confirm.png' );
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../Imagenes/Icons/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../Imagenes/Icons/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../Imagenes/Icons/warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../Imagenes/Icons/error.png');
}

.info p, .success p, .warning p, .error p, .confirm p ,.ModalPopup p{
    padding: 0px 50px;
    text-align:center;
}
.info a, .success a, .warning a, .error a, .confirm a , .ModalPopup a{
    float: right;
    cursor:pointer;
    padding-top:5px;
}

.messageheader
{
    background: url(../Imagenes/Icons/sprite.png) repeat-x 0px -200px; 
    height:18px;
    padding:5px;
    border-bottom: solid 1px black;
}

.messageheadertext
{
    color: Black;
    float:left;
    font-weight:bold;
}

.messagefooter
{
    text-align:center;
    padding-top: 2px;
}

.messagemodalbackground
{
    background-color:Gray;
    filter:alpha(opacity=50);
    opacity:0.6;
    z-index:998;
}


.ModalPopup
{
    color: #00529B;
    background-color: #BDE5F8;
    border: 1px solid;
    margin: 10px 0px 10px 0px;
}

.updateProgress
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	position: absolute;
	width: 180px;
	height: 65px;
}
/************ Calender Styles ***********************/

.MyCalendar .ajax__calendar_container {
    border:1px solid #646464;
    background-color: lemonchiffon;
    color: red;
}
.MyCalendar .ajax__calendar_other .ajax__calendar_day,
.MyCalendar .ajax__calendar_other .ajax__calendar_year {
    color: black;
}
.MyCalendar .ajax__calendar_hover .ajax__calendar_day,
.MyCalendar .ajax__calendar_hover .ajax__calendar_month,
.MyCalendar .ajax__calendar_hover .ajax__calendar_year {
    color: black;
}
.MyCalendar .ajax__calendar_active .ajax__calendar_day,
.MyCalendar .ajax__calendar_active .ajax__calendar_month,
.MyCalendar .ajax__calendar_active .ajax__calendar_year {
    color: black;
    font-weight:bold;
}

.Accordion_NeutralTriangleHeaderSelected{
	cursor: pointer;
	text-align: left;
	padding:10px 22px;
	margin-top:2px;
	-moz-border-radius-topleft:6;
	-moz-border-radius-topright:6;
	background:#F4F0EC;
	border-top:1px solid #E0CFC2;
	border-left:1px solid #E0CFC2;
	border-right:1px solid #E0CFC2;
	background-image: url(images/orange-triangle-dn.png);
	background-repeat: no-repeat;
	background-position: left;
	color:#B85700;
	font-weight:normal;
	font-family:Arial,Helvetica,sans-serif;
}
.Accordion_NeutralTriangleHeader{
	cursor: pointer;
	text-align: left;
	padding:10px 22px;
	margin-top:2px;
	-moz-border-radius-bottomleft:6;
	-moz-border-radius-bottomright:6;
	-moz-border-radius-topleft:6;
	-moz-border-radius-topright:6;
	background:#EDE4D4;
	border:1px solid #CDC3B7;
	background-image: url(images/orange-triangle-rt.png);
	background-repeat:no-repeat;
	background-position: left;
	color:#3F3731;
	font-weight:normal;
	font-family:Arial,Helvetica,sans-serif;
}

.Accordion_NeutralHeaderSelected{

	cursor: pointer;
	text-align: left;
	padding:10px 22px;
	margin-top:2px;
	-moz-border-radius-topleft:6;
	-moz-border-radius-topright:6;
	background:#F4F0EC url(images/inset-soft.png) repeat-x scroll 50% 50%;
	border-top:1px solid #E0CFC2;
	border-left:1px solid #E0CFC2;
	border-right:1px solid #E0CFC2;
	color:#B85700;
	font-weight:bold;
	font-family:Arial,Helvetica,sans-serif;
	font-size: 14px;
}


.Accordion_NeutralHeader
{
    cursor: pointer;
    text-align: left;
    padding: 10px 22px;
    margin-top: 2px;
    -moz-border-radius-bottomleft: 6;
    -moz-border-radius-bottomright: 6;
    -moz-border-radius-topleft: 6;
    -moz-border-radius-topright: 6;
    background: #EDE4D4 url(images/bg-glass-70.png) repeat-x scroll 50% 50%;
    border: 1px solid #CDC3B7;
    color: #3F3731;
    font-weight: bold;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
}
.Accordion_NeutralContent{

	text-align: left;
	margin-bottom:2px;
	padding:10px 22px;
	-moz-border-radius-bottomleft:6;
	-moz-border-radius-bottomright:6;
	background:#F4F0EC url(images/soft-inset-100.png) repeat-x scroll 50% bottom;
	border-top:0 none;
	border-left:1px solid #E0CFC2;
	border-right:1px solid #E0CFC2;
	border-bottom:1px solid #E0CFC2;
	color:#1E1B1D;
}

