

/***********************************************************************
Autor:	Luis Chavarria Bendezu								
Style:	Libreria de Estilos para las Controles ASP	
************************************************************************/

/************************************************************************
 componentes  DataGridView														
*************************************************************************/

.cssGridView
{
    	
	 border: 1px solid #C0C0C0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #254A70;
    font-style: normal;
    line-height: normal;
}

.cssGridView caption
{
    border-width: 1px;
    border-color: #C0C0C0;
    background: url(../Imagenes/Formas/GridView_Caption.png) repeat-x;

    color: #15428B;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
    height: 23px;
    border-right-style: solid;
    border-left-style: solid;
    padding-top: 5px;
   
}
.cssGridView th
{
    background-image: url(../Imagenes/Formas/GridView_th.png);
    background-repeat: repeat-x;
    background-position: bottom;
    height: 30px;
    font-size: 11px;
    font-weight: bold;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}
.cssGridView tr:hover
{
    border: 1px dotted #A3BAE9;
    background-color: #99CCFF;
}

.cssRowStyle
{
    border: 1px dotted #A3BAE9;
}
.cssSelectedRowStyle
{
    border: 1px dotted #A3BAE9;
    background-color: #3366FF;
}
.cssAlternatingRowStyle
{
    
    background-color: #E7E7E7;
}
.cssPagerStyle
{
    font-size: 12px;
    text-align: right;
    background: url(../Imagenes/Formas/GridView_Pager.png) repeat-x;
    height:30px;
}



/*********** PAGE ***/
.pagprev{
    background:transparent url(../Imagenes/GridView/previous.png) no-repeat scroll center;
    height:1.3em;
    width:16px;
    cursor:pointer;
    border:0px;
}
.pagnext{
    background:transparent url(../Imagenes/GridView/next.png) no-repeat scroll center;
    height:1.3em;
    width:16px;
    cursor:pointer;
    border:0px;
}

.pagfirst{
    background:transparent url(../Imagenes/GridView/first.png) no-repeat scroll center;
    height:1.3em;
    width:16px;
    cursor:pointer;
    border:0px;
}
.paglast
{
    background: url(../Imagenes/GridView/last.png) no-repeat center 50%;
    height: 1.3em;
    width: 16px;
    cursor: pointer;
    border: 0px;
}
/********** Caption ***************/
.cssCaption
{
    text-align: center;
}
.cssCaptionLeft
{
    text-align: center;
    width: 2340px;
    background-color: #9BB5D5;

}
.cssCaptionRight
{
    text-align: center;
    width: 1200px;
    background-color: #9BB5D5;

}

/************************************************************************
 componentes  														
*************************************************************************/
.cssTextBox
{
	margin: 2px 0px 2px 0px;
	font-size: 11px;
	background-color: #F8FAFC;
	color: #254A70;
	border: 1px solid #666666;

}
.cssTextBoxSinBorde
{
	margin: 2px 0px 2px 0px;
	font-size: 11px;
	background-color: #F8FAFC;
	color: #254A70;
	overflow:auto;
	
}
.cssTextBoxReadOnly
{
    
    margin: 2px 0px 2px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #CCCCCC;
    color: #254A70;
    border: 1px solid #666666;
    font-style: normal;
    line-height: normal;
}

.cssTextBoxInvalid
{
    margin: 2px 0px 2px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #F8E7CD;
    color: #254A70;
    border: 1px solid #666666;
    font-style: normal;
    line-height: normal;
}
.cssLabel
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    font-style: normal;
    line-height: normal;
}

.cssHyperLink 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    font-style: normal;
    line-height: normal;
}

.cssHyperLink:hover
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #3366CC;
    font-style: normal;
    line-height: normal;
}

.cssLinkButton
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
}
.cssLinkButton :hover
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #3366CC;
    font-style: normal;
    line-height: normal;
}
.cssRadioButtonList
{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #FFFFFF;
   color: #254A70;
	font-style: normal;
	line-height: normal;
}
.cssDropDownList
{
	margin: 2px 0px 2px 0px;
	font-size: 11px;
	background-color: #F8FAFC;
	color: #254A70;
	border: 1px solid #666666;
	width:200px;
	height:19px;
}
.cssDropDownListReadOnly
{
	margin: 2px 0px 2px 0px;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #CCCCCC;
	color: #254A70;
	border: 1px solid #C0C0C0;
	font-style: normal;
	line-height: normal;
	width:200px;
}
.cssButton
{
    font-family: Verdana, Arial, Tahoma;
	font-size: 8pt;
    background: #D4D0C8;
    color: #800000;
    text-align: center;
    border-right: #D4D0C8 1px solid;
    border-top: #D4D0C8 1px solid;
    border-left: #D4D0C8 1px solid;
    border-bottom: #D4D0C8 1px solid;
    height:25px;
    width: 80px;
}

/***ELVP:08-08-2011******/
.cssGridView1
{
    	
	 border: 1px solid #C0C0C0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #254A70;
    font-style: normal;
    line-height: normal;
}

.cssGridView1 caption
{
    border-width: 1px;
    border-color: #C0C0C0;
    background: url(../Imagenes/Formas/GridView_Caption.png) repeat-x;

    color: #15428B;
    text-align: left;
    font-size: 11px;
    font-weight: bold;
    padding-left: 1px;
    height: 23px;
    border-right-style: solid;
    border-left-style: solid;
    padding-top: 1px;
   
}
.cssGridView1 th
{
    background-image: url(../Imagenes/Formas/GridView_th.png);
    background-repeat: repeat-x;
    background-position: bottom;
    height: 30px;
    font-size: 11px;
    font-weight: bold;
    font-weight: bold;
    /*text-transform: uppercase;*/
    text-align: center;
    color: #FFFFFF;
}
.cssGridView1 tr:hover
{
    border: 1px dotted #A3BAE9;
    background-color: #99CCFF;
}