
/***********************************************************************
Autor:	Luis Chavarria Bendezu								
Style:	Libreria de Estilos para las tablas	PANEL			
************************************************************************/
/*body {background:#8c1414 url('../imagenes/Panels/fondo.jpg') no-repeat top center fixed; margin:0px 0 0}
*/
body
{

    
    text-align: center;
    margin: 0px 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    font-style: normal;
    line-height: normal;
    background-color: #E20026;
    /*background:url(../Imagenes/Formas/fondo.jpg)*/
}
body p {margin:10px 0 11px 0; padding:0; text-align:justify}	
/*******   Contenido de la Paguina	**************/
/*******   PANEL PANEL   *************************/
/*************************************************/


#sistema{width:1024px; margin:0 auto ;  }
/******** PANEL TOP ********/
#sistema-topleft{ width: 23px;height: 82px;background: url(../Imagenes/Panels/panel-topleft.png) no-repeat bottom left;}
#sistema-top{height: 82px;background: url(../Imagenes/Panels/panel-top.png) repeat-x bottom;font-weight: bold; font-size: 22pt; text-transform:   none; color: #ffffff; font-family: 'Trebuchet MS'; text-align:left; }
#sistema-topright{ width:23px;height:82px;background:url(../Imagenes/Panels/panel-topright.png) no-repeat bottom right;}
/******** PANEL CENTER ********/	
#sistema-centerleft{width:23px;background:url(../Imagenes/Panels/panel-left.png) repeat-y left;}
#sistema-center {vertical-align:top;background:url(../Imagenes/Panels/content.png);}
#sistema-centerright{width:23px;background:url(../Imagenes/Panels/panel-right.png) repeat-y right;}	
/******** PANEL BOTTOM ********/
#sistema-bottomleft {width:23px;height:23px;background:url(../Imagenes/Panels/panel-bottomleft.png) no-repeat ;}
#sistema-bottom {height:23px;background:url(../Imagenes/Panels/panel-bottom.png) repeat-x;}
#sistema-bottomright {width:23px;height:23px;background:url(../Imagenes/Panels/panel-bottomright.png) no-repeat;}

#sistema #cabecera, #cuerpo, #pie, #credito {clear:both}
#sistema #cabecera #logo {height:120px; width:260px; background-image:url('Imagenes/panel/logo.jpg'); float:left}
#sistema #cabecera #principal{height: 120px; width:764px; background-image: url('Imagenes/panel/titulos.jpg');float:right;}
#sistema #cabecera #principal #titulos{height: 120px;width: 709;float:left }
#sistema #cabecera #principal #borde {height:120px; width:55px; background-image:url('Imagenes/panel/borde.jpg'); float:right}

#sistema #cuerpo {width:1024px; background-image:url('Imagenes/panel/sistema.jpg') ; background-repeat:repeat-y; }
#sistema #cuerpo #lateral {width:216px;   float:left;  background-image:url('Imagenes/panel/menu.jpg');}
#sistema #cuerpo #lateral #nenu {width:216px; margin-left:10px; margin-right:6px; padding-left:10px; padding-right:6px; background-image:url('Imagenes/panel/menu.jpg'); }
#sistema #cuerpo #lateral #menupie { height:40px; width:216px; background-image:url('Imagenes/panel/menupie.jpg');  }
#sistema #cuerpo #contenido {width:808px; background-image:url('Imagenes/panel/panel.jpg'); float:right;}
#sistema #cuerpo #contenido #panel{ width: 768px; padding: 20px;}
#sistema #cuerpo #contenido #panelpie { height:40px; width:808px;  background-image:url('Imagenes/panel/panelpie.jpg'); }

#sistema #pie
{
    background-position: url( 'Imagenes/panel/pie.jpg' ) no-repeat;
    height: 30px;
    width: 965px;
    background: url( 'Imagenes/panel/pie.jpg' ) no-repeat;
    clear: both;
    text-align: center;
    font-family: 'Courier New' , Courier, monospace;
    font-size: 11px;
    color: #666666;
}

#panel{}
/******** PANEL TOP ********/
#panel-topright{ width:23px;height:82px;background:url(../Imagenes/Panels/panel-topright.png) no-repeat bottom right;}
#panel-top{height: 82px;background: url(../Imagenes/Panels/panel-top.png) repeat-x bottom;font-weight: bold; font-size: 22pt; text-transform:   none; color: #ffffff; font-family: 'Trebuchet MS'; text-align:left; }
#panel-topleft{ width: 23px;height: 82px;background: url(../Imagenes/Panels/panel-topleft.png) no-repeat bottom left;}
/******** PANEL CENTER ********/	
#panel-centerleft{width:23px;background:url(../Imagenes/Panels/panel-left.png) repeat-y right;}
#panel-center {vertical-align:top;background:url(../Imagenes/Panels/content.png); text-align:left;}
#panel-centerright{width:23px;background:url(../Imagenes/Panels/panel-right.png) repeat-y;}	
/******** PANEL BOTTOM ********/
#panel-bottomleft{width:23px;height:23px;background:url(../Imagenes/Panels/panel-bottomleft.png) no-repeat ;}
#panel-bottomright{width:23px;height:23px;background:url(../Imagenes/Panels/panel-bottomright.png) no-repeat;}
#panel-bottom{height:23px;background:url(../Imagenes/Panels/panel-bottom.png) repeat-x;}


/*******   Diseño del menu	**************/
/*******   -----------  *************************/
/*************************************************/
.menu
{
   
}

.menu a
{
	
font-family:  Microsoft Sans Serif;
    font-size: 12px;
    color: #333333;
    font-weight: normal;
    font-variant: normal;
    text-decoration: none;
    text-align: center;
    bottom: auto;

}
.menu a:hover
{
    font-family:  Microsoft Sans Serif;
    font-size: 12px;
    color: #668EBF;
    font-weight: normal;
    font-variant: normal;
    text-decoration: none;
    text-align: center;
    bottom: auto;
}


.menu-centerleft{width:12px; height:41px;  background:url(../Imagenes/Menu/menu_derecha.png);background-position :left bottom }
.menu-center { height:41px; width:930px; background:url(../Imagenes/Menu/menu_pasivo.png) repeat-x; text-align:center; background-position :left bottom}
.menu-centerright{width:9px;  height:41px;  background:url(../Imagenes/Menu/menu_izquierda.png); background-position:right  bottom}	
.menu_DynamicMenuStyle
{
    border: 1px solid #999999;
    padding: 3px !important;
    background-color: #E0E0E0 !important;
    width: 230px;
    text-align: left;
}	
.menu_DynamicHoverStyle
{
    border: 1px solid #999999;
    background-color: #C7C7C7 !important;
    padding: 3px !important;
    width: 230px;
}