
/***********************************************************************
Autor:	Luis Chavarria Bendezu								
Style:	Libreria de Estilos para las Etiquetas y clases			
************************************************************************/
legend
{
    padding: 0px 4px;
    margin: 0px 0px 4px 0px;
    color: #333333;
    font-weight: bold;
    font-size: 12px;
    vertical-align: middle;
}
fieldset
{
    margin-bottom: 4px;
    padding: 0px 12px 4px 12px;
    display: block;
}


.ewTable
{
    font-family: Verdana;
    font-size: xx-small;
   /* border-collapse: collapse;*/
}
.ewTable td
{
  
    text-align: left;
    padding-bottom: 4px;
    padding-top: 4px;
  
}

.ewLabel
{
    font: bold 13px 'Times New Roman' , Arial, sans-serif;
    padding-right: 4px;
    padding-left: 10px;
    color: #003366;
}
.cssMensaje
{
    padding: 0px 4px;
	margin: 0px 0px 7px 0px;
	color: #666666;
	font-weight: bold;
	font-size: 1em;
	vertical-align: middle;
}

/******** CONTADOR DE CARACTERES ********/
.minitext {
  font: normal 10px Arial, sans-serif;
  color: Black;
  padding: 5px;
}
.disable {
  background-color: #CF110C;
  color: #fff;
  font-weight: bold;
  padding: 5px;
}

/*********PANEL ERROR **********/
.cssPanelError
{
    padding: 5px;
    border-right: red 1px outset;
    border-top: red 1px outset;
    border-left: red 1px outset;
    border-bottom: red 1px outset;
    background-color: #ffffc0;
    font: statusbar;
    color: #33373e;
    border-style: dashed;
    border-width: 1px;
    text-align: center;
}
.panelBotones{float:left;

}
.panelBucador{float:right;
    
}
.panelleyenda{float:right; width:300px; }
.panelGria
{
	float:left;
}
.panelHistorial
{
	float:left;
	font-size: 10px;	
}

.FieldTextbox
{

    margin-right: 15px;
    padding: 0px 3px 0px 3px;
    text-align:right;
    width:200px;
}