/****** Script for SelectTopNRows command from SSMS  ******/


  SELECT w.ID,w.COD_BAR,w.NOMBRE,w.GENERO,w.FNAC,w.LUGAR,w.TELEFONO,w.CELULAR,w.DIRECCION,w.EMAIL,w.F_FINAL,w.ESTATUS,w.TIPO,w.SUB_BIB,w.NOTA_1,w.NOTA_2,w.NOTA_3,w.LOCAL_LIB,w.PIP_LIB,w.PIB_TOTAL,w.PIB_ACTIVA,w.TIT_LIMITE
  FROM [BR_USUARIOS].[dbo].[BR_USUARIOS_ALEPH] w
	WHERE W.COD_BAR = (
		SELECT MAX(x.COD_BAR)
		FROM [BR_USUARIOS].[dbo].[BR_USUARIOS_ALEPH] x
		WHERE W.ID=X.ID
	) and ID='72400617'
  
  --MANDA EL MAYOR
  /*
  ID	
43661540	
74138309    	
43700268    	
45937892	
73568079	
10760714	
44207131    	
48081231	
70412042    	
72400617   
  */