/* CSS Document */
body
{
		margin:auto;
		padding: 0px;
		background-color: #000;
		text-align:justify;
		font-family:Arial;
		font-size:10px;
		position:relative;
		color: #52575b;
}
.textos
{
		text-align:justify;
		font-family:Arial;
		font-size:10px;
		color: #52575b;
}

#content
{
	margin:auto;
	width: 780px;
	text-align:justify;


	}
	.subtitulomayus
{
font-size:12px;
font-weight:bold;
color:#bcbabb;
font-family:Arial;
text-align:right;
}
	hr
	{
		border: none;
		border-bottom:1px solid #b5b3b3;
		height:1px;
	
		}
	
p{
margin:0px;
padding:0px;

}
#ContenedorInterna
{
width:780px;
}

/* hide from ie on mac \*/

	
	#flashcontent {
		height:900px;
		width:780px;
		margin:auto;
		color:#FFFFFF;
		background-color:#FF0000;
		padding:0px;
	}
	/* end hide */
	
	
#paginaContenido
{
width:700px;
float:left;
}
#paginaBackground
{
background-image:url(Imagenes/internas_12.jpg);
width:60px;
height:575px;
float:left;
}
#menuEncabezado
{
width:700px;
height:19px;
}
#menuEncabezadoIzquierda
{
width:265px;
height:19px;
background-image:url(Imageness/internas_01.jpg);
background-color:#000000;
float:left;
}
#menuEncabezadoBusqueda
{
background-color:#000000;
width:435px;
height:19px;
float:left;
}
.menuFloat
{float:left;}
#frmBusqueda
{
padding:0px;
margin:0px;
}
.txtBusqueda
{width:121px;
height:15px;
background-color:#FFFFFF;
border:1px solid #000000;
font-size:10px;
font-family:Arial;
}
.btnBusqueda
{
border:0px;
width:23px;
height:19px;
background-image:url(Imagenes/internas_10.jpg);
}
#cabeceraFlash
{background-image:url(Imagenes/internas_13.jpg);
width:700px;
height:184px;
}
#cabecera_flash
{
 position:absolute;
 top:0px;
 z-index:1;	
}
#contenido
{
width:700px;
}
#contenidoMenu
{
width:248px;
float:left;
text-align:right;
}
#contenidoCentro
{
width:452px;
float:left;
background-color:#FFFFFF;
}
#contenidoCentroMenu
{
width:442px;
height:80px;
text-align:right;
padding-right:10px;
text-decoration:none;
font-family:Arial;
font-size:11px;
color:#52575b;
}

#contenidoCentroMenu a
{
color:#52575b;
text-decoration:none;
}
#contenidoCentroMenu a:hover
{
text-decoration:underline;
color:#FF0000;
}
#contenidoCentroTexto
{
width:432px;
background-color:#FFFFFF;
padding-right:10px;
padding-left:10px;
}
#contenidoCentroTexto a
{
text-decoration:none;
}
#contenidoCentroTexto a:hover
{
color:#FF0000;
text-transform:uppercase;
}
#bordeRojoSepara
{
width:452px;
height:3px;
background-color:#FF0000;}
#contenidoFooter
{
margin-top:3px;
width:452px;
background-color:#FFFFFF;
color:#FF0000;
padding-top:5px;
padding-bottom:5px;
}
#contenidoFooter a
{
color:#FF0000;
text-decoration:none;
}
#contenidoFooter a:hover
{
color:#990000;
text-decoration:underline;
}

#contenidoFooterHome
{
background-color:#FFFFFF;
width:216px;
color:#FF0000;
text-transform:uppercase;
padding-left:10px;
float:left;
font-weight:bold;
}
#contenidoFooterPage
{
background-color:#FFFFFF;
width:216px;
text-transform:uppercase;
color:#FF0000;
float:left;
text-align:right;
padding-right:10px;
font-weight:bold;
}
/* */
.titulo
{
font-size:24px;
color:#b5b3b3;
margin:0px;
padding:0px;
text-align:left;
font-family:Times New Roman;
}
.borderBottom
{
border-bottom:1px solid #b5b3b3;}
.subtitulo
{
font-size:12px;
font-weight:bold;
font-style:italic;
color:#b5b3b3;
font-family:Arial;
text-align:right;
}

.subtituloPlomo
{
font-size:11px;
color:gray;
text-align:justify;
font-weight:bold;
font-family:Arial;
}


.barraFechas
{
font-size:11px;
color:#ACACAC;
font-family:Arial;
}

.cuadro
{
width:432px;
background-color:#FFFFFF;
}
.cuadroImagen
{
width:63px;
background-color:#FFFFFF;
float:left}
.cuadroTexto
{
width:364px;
float:left;
background-color:#FFFFFF;
padding-left:5px;}
.cuadroTextoTitulo
{
padding-bottom:15px;
}
.cuadroTextoRojo
{
color:#FF0000;
font-family:Arial;
font-size: 10px;
}

.cuadroTextoRojoNegrita
{
color:#FF0000;
font-weight:bold;
font-family:Arial;
font-size: 11px;
}
.cuadroTextoFooter
{
text-align:right;
color:#000000;
}
.cuadroTextoFooter a
{
text-decoration:none;
}
.cuadroTextoFooter a:hover
{
color:#FF0000;
text-decoration:none;
text-transform:uppercase;
}
.cuadroTextoContenido
{
padding-bottom:8px;
display:block;
}
.clearLeft
{
clear:left;}

.linkDetalle
{
	font-family:Arial;
	color:#878787;
	font-size:10px;
	text-decoration:underline;
	
	
}

.linkDetalleAnio
{
	font-family:Arial;
	color:#878787;
	font-size:12px;
	text-decoration:underline;
	
	
}

.TituloDetalle
{
	font-family:Arial;
	color:#52575b;
	font-size:12px;
	text-decoration:none;
	font-weight:bold;
	
	
}

.imagenGaleria
{
	padding-top: 2px;
	padding-bottom:1px;
}
.imagen
{
	padding-right:10px;	
}
.imagenGaleriaGrande
{
	border:solid 1px #333;
	padding:6px;	
}
.modalBackground {
	background-color:#ffffff;
	filter:alpha(opacity=40);
	opacity:0.5;}
	
.modalPopup {
background-color:#EEF0EF;
border-width : 3px;
border-style : solid;
border-color : gray;
padding : 14px;
width : 500px;
}

.titulogaleria
{
	color:#839098;
	font-weight:bold;
	font-size:12px;
	font-family:Arial;

}

.titulodgaleria
{
	color:Black;
	font-weight:bold;
	font-size:12px;
	font-family:Arial;

}

.textosdgaleria
{
	color:Black;
	font-size:10px;
	font-family:Arial;

}

.capaGaleria
{
		padding-left:5px;
		padding-top:4px;
		padding-bottom: 4px;

	}
	.panel
	{
		border-width : 1px;
		border-style : solid;
		border-color:#E0E0E0;
	}
			
	.paneltext
	{
		padding-left:5px;
		padding-right:10px;
	}

a.facebook_button {
display: block;
float: left;
border-radius: 3px;
-webkit-border-radius: 3px;
padding: 4px 5px;
border: 1px solid black;
border-top-left-radius: 3px 3px;
border-top-right-radius: 3px 3px;
border-bottom-right-radius: 3px 3px;
border-bottom-left-radius: 3px 3px;
font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
border-color: #CAD4E7;
color: #3B5998;
cursor: pointer;
background:#ECEEF5 url(imagenes/facebook_share_icon.png) no-repeat center left ;
text-indent:20px;
text-decoration:none;
font-size:11px;
}
a.facebook_button:hover 
{
	border-color:  #9DACCE;
}

a.compartir_button {
display: block;
float: left;
border-radius: 3px;
-webkit-border-radius: 3px;
padding: 4px 5px;
border: 1px solid black;
border-top-left-radius: 3px 3px;
border-top-right-radius: 3px 3px;
border-bottom-right-radius: 3px 3px;
border-bottom-left-radius: 3px 3px;
font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
border-color: #CAD4E7;
color: #3B5998;
cursor: pointer;
background:#ECEEF5 url(imagenes/addthis_share_icon.png) no-repeat center left ;
text-indent:20px;
text-decoration:none;
font-size:11px;
}
a.compartir_button:hover 
{
	border-color:  #9DACCE;
}


a.addthis_button_compact
{
background:#ECEEF5 url(imagenes/facebook_share_icon.png) no-repeat center left ;
padding: 0px 0px;
}